<!-- patcurryworks.com/templates/main/home.html -->
{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home-style.css' %}">
{% endblock head %}

{% block content %}
<div class="home">
  <h1 class="heading">Pat Curry Works</h1>

  <p>Welcome to Pat Curry works. This website is intended to demonstrate my web development skills. It has been broken up into two repositories; patcurryworks.com and patcurryworks.com-static. The back end is written in python and uses Django and the front end is different depending on what part of the website you are viewing.</p>



</div>
{% endblock content %}
