<!-- patcurryworks.com/templates/blog/index.html -->
{% extends "base.html" %}

{% block content %}
<div class="blog">
  <h1>Blog</h1>
  <p>I think it would be nice to use react with this part of the app. This page could serve up some JSON data that react could consume. How can I get started with that?</p>

  <p>https://hackernoon.com/reconciling-djangos-mvc-templates-with-react-components-3aa986cf510a</p.>


{% if post_list %}
  {% for post in post_list %}
    <p>{{ post.text }}</p.>
  {% endfor %}
{% else %}
  <p>no posts</p>
{% endif %}


</Div>
{% endblock content %}
