<!-- patcurryworks.com/templates/blog/index.html -->
{% extends "base.html" %}
{% load static %}
{% load json_safe %}

{% block content %}
<div class="blog">
  <h1>Blog</h1>
  <p>I think it would be nice to use react with this part of the app. This page could serve up some JSON data that react could consume. How can I get started with that?</p>

  <p>https://hackernoon.com/reconciling-djangos-mvc-templates-with-react-components-3aa986cf510a</p.>


<p>{{ props|json_safe }}</p>

<p>{{ post_list_serialized|json_safe }}</p>

</div>
<script src="{% static 'js/blog-react.js' %}"></script>
{% endblock content %}
